$mobile: 320px;
$tablet: 760px;

$bald-desktop: 1170px;
$desktop-offset: 60px;
$desktop: #{$bald-desktop + 2 * $desktop-offset};

:root {
  --prime-offset: 20px;

  --color-white: #FFFFFF;
  --color-main-tone: #4E33B5;
  --color-main: #2D1686;
  --color-orange-tone: #F25B24;
  --color-orange: #E34208;
  --color-palite: #2E2D35;
  --color-text: #474351;
  --color-gradient-blue: #2D1686;
}

@media (min-width: $tablet) {
  :root {
    --prime-offset: 40px;
  }
}

@media (min-width: $desktop) {
  :root {
    --prime-offset: #{$desktop-offset};
  }
}
