include ../mixins/action-button.pug

section(class="banner")
  div(class="banner-wrapper")
    h1(class="banner__title").
      Подбор авто в лизинг по выгодной цене
    p(class="banner__description").
      IT платформа по быстрому поиску автомобиля от официальных дилеров РФ
    +action-button("banner__action-button", "Регистрация")
