include ../mixins/action-button.pug
include ../mixins/form.pug

section(class="login")
  h2(class="login__title").
    Авторизация
  -
    const loginInputProps = [
      {
        type: `email`,
        name: `email`,
        id: `login-email`,
        placeholder: `Введите e-mail`,
        required: true,
        label: `E-mail`,
        customClass: `login__input-wrapper`,
      },
      {
        type: `password`,
        name: `password`,
        id: `login-password`,
        placeholder: `Введите пароль`,
        required: true,
        label: `Пароль`,
        customClass: `login__input-wrapper`,
      }
    ];
  +form(`GET`, `blank.html`, loginInputProps, `Войти`, `login__form`)
