include ../mixins/registration-button.pug

section(class="registration")
  h2(class="registration__title").
    Регистрируйся и получай актуальные запросы на автомобили от заинтерисованных клиентов
  +registration-button("registration__action-button")
