include ../mixins/registration-button.pug

section(class="registration")
  div(class="registration__content")
    h2(class="registration__title" data-aos="fade-right").
      Регистрируйся и получай актуальные запросы на автомобили от заинтерисованных клиентов
    +registration-button("registration__action-button")
