include ../mixins/action-button.pug

section(class="registration")
  h2(class="registration__title").
    Регистрируйся и получай актуальные запросы на автомобили от заинтерисованных клиентов
  +action-button("registration__action-button", "Регистрация")
