.prime-header {
  display: block;
  max-width: 100%;
  margin: 0 auto;

  @include background-gradient();
}

.prime-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $bald-desktop;
  margin: 0 auto;
  padding: 20px var(--prime-offset) 19px;
}

.prime-header__logo-wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-left: 4px;

  &::before {
    content: "";

    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 32px;
    margin-right: 15px;

    background-image: url("../img/sprite.svg#logo-icon");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -6px 0;
  }
}

.prime-header__logo {
  display: block;
  width: 95px;
  height: 60px;
}

.prime-header__nav {
  flex-grow: 1;
}

.prime-header__links-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.prime-header__link-wrapper {
  display: block;
}

.prime-header__link {
  display: block;
  padding: 17px 10px;

  color: var(--color-white, white);

  outline: none;

  transition: all 0.1s;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.prime-header__link {
  &:hover,
  &:focus {
    color: var(--color-orange, orange);
    font-size: 19px;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }
}

.prime-header__login {
  display: flex;
  padding: 18px 13px 0 0;

  color: var(--color-white, white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  background-color: transparent;
  border: none;
  outline: none;

  transition: color 0.2s;
}

.prime-header__login-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 12px;

  color: var(--color-white, white);

  transition: color 0.1s, rotate;
  animation: rotating 2s infinite linear forwards paused;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.prime-header__login {
  &:hover,
  &:focus {
    color: var(--color-orange, orange);

    .prime-header__login-icon {
      color: var(--color-orange, orange);
    }
  }

  &:hover {
    text-decoration: underline;

    .prime-header__login-icon {
      animation-play-state: running;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .prime-header__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .prime-header__nav {
    margin: 0 90px;
  }

  .prime-header__links-list {
    flex-direction: row;
  }
}
