.prime-header {
  display: block;
  max-width: 100%;
  margin: 0 auto;

  @include background-gradient();
}

.prime-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $bald-desktop;
  margin: 0 auto;
  padding: 33px var(--prime-offset);
}

.prime-header--logo-wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-left: 4px;

  &::before {
    content: "";

    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 32px;
    margin-right: 15px;

    background-image: url("../img/logo-icon.svg");
  }
}

.prime-header__nav {
  flex-grow: 1;
  margin: 20px 0;
}

.prime-header__links-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.prime-header__link-wrapper {
  display: block;
  padding: 4px 10px 6px;
}

.prime-header__link {
  color: var(--color-white, white);

  outline: none;
}

.prime-header__link:hover,
.prime-header__link:focus {
  color: var(--color-orange, orange);
}

.prime-header__link:hover {
  text-decoration: underline;
}

.prime-header__link:active {
  opacity: 0.5;
}

.prime-header__login {
  display: flex;
  margin-top: 5px;
  margin-right: 13px;
  padding: 0;

  color: var(--color-white, white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  background-color: transparent;
  border: none;
  outline: none;

  &::before {
    content: "";

    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 12px;

    background-image: url("../img/avatar.svg");
  }
}

.prime-header__login:hover,
.prime-header__login:focus {
  color: var(--color-orange, orange);
}

.prime-header__login:hover {
  text-decoration: underline;
}

.prime-header__login:active {
  opacity: 0.5;
}

@media (min-width: $tablet) {
  .prime-header__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .prime-header__nav {
    margin: 0 90px;
  }

  .prime-header__links-list {
    flex-direction: row;
  }
}
